.dropArea {
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-style: dashed;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
    height: 60px;
    width: 100%;
    max-width: 300px;
    color: #ff0000;
    background-color: #ffebee;
    transition: background-color 0.3s ease;
  }
  
  .dropArea.dark {
    background-color: #c72626;
    color: #d7d7d7;
    border-color: #d7d7d7;
  }
  
  .dropArea:hover {
    background-color: #ffcdd2;
  }
  
  .dropArea.dark:hover {
    background-color: #e58e8e;
    border-color: #c72626;
  }
  
