.dropArea {
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-style: dashed;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
    height: 60px;
    width: 100%;
    max-width: 300px;
    transition: background-color 0.3s ease;
    color: #1976d2;
  }
  
  .dropArea.dark {
    background-color: #c72626;
    color: #ffffff;
    border-color: #dc004e;
  }
  
  .dropArea:hover {
    background-color: #8fb1d3;
    border-color: #1976d2;
  }
  
  .dark:hover {
    background-color: #1976d2;
    border-color: #b11414;
  }
  
