.container {
    padding: 20px;
    margin: 20px 0;
    border: 2px solid #b1b1b1;
    border-radius: 8px;
  }
  
.addName {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

.nameList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 65%;
    margin: 20px auto;
    padding: 0;
    justify-content: center;
  }

.nameItems {
    position: relative;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    height: 2.5rem;
  }
  
.nameItems:hover {
    background-color: #e0e0e0;
  }
  